body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.bgd-highlight {
  background-color: #F4F6FA;
}

.title {
  margin: 30px 0;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  color: #575756;
} 