.header,
.header__row {
  width: 100%
}

.header__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  align-items: center;
  height: max-content;
}

.header__logo {
  width: 250px;
  min-width: 250px;
  display: flex;
}

.header__logo img {
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 28px;
  gap: 30px;
}

@media (max-width: 900px) {
  
}