.header,
.header__row {
  width: 100%;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  padding: 20px 0;
}

.header__logo {
  width: 250px;
  min-width: 160px;
  display: flex;
}

.header__logo img {
  width: 100%;
}

.header__nav,
.menu {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 28px;
  gap: 14px;
}

.header__nav {
  justify-content: space-between;
}


.menu a {
  color: inherit;
  transition: color 0.2s;
}

.header__contacts {
  display: flex;
  width: max-content;
  gap: 14px;
  align-items: center;
  margin-left: 8px;
}

.header__phone {
  font-size: 0.875rem;
  font-weight: 700;
}

.header__btn {
  font-weight: 600;
  background-color: #ff962d;
  padding: 4px 10px;
  border-radius: 25px;
  color: white;
  transition: background-color 0.2s;
}

.mobile_btn {
  display: none;
}

@media (max-width: 1100px) {
  .header__logo {
    width: 220px;
  }

  .mobile_btn {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 100vh;
    background-color: #ff962d;
    z-index: 10;
    color: white;
    transition: left 1s;
  }

  .active {
    left: calc(100% - 300px);
  }
  .menu a {
    font-size: 1.375rem;
  }
}

@media (max-width: 600px) {
  .header__contacts {
    flex-direction: column;
    gap: 0;
  }

  .header__logo {
    width: 170px;
  }

  .header__phone {
    font-size: 0.75rem;
  }

  .header__btn {
    padding: 0px 6px;
    margin: 0 8px;
    font-size: 0.75rem;
    color: white;
  }

}

@media (min-width: 1101px) {
  .menu a:hover {
    color: #ed8a28;
  }

  .header__btn:hover {
    background-color: #c57526
  }

  .header__btn:active {
    background-color: #ff962d
  }
}