.truck_title {
  margin: 20px 0;
  color: #575756;
  font-weight: 600;
  font-size: 1.5rem;
}

.truck_preview {
  width: 100%;
  display: flex;
  padding: 30px 0;

}

.truck_img {
  height: 350px;
  width: 40%;
  background-color: white;
  border-radius: 20px;
}

.truck_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.truck_details {
  padding: 0 16px;
  width: 60%;
}

.truck_details table {
  table-layout: fixed;
  width: 90%;
  margin-inline: auto;
  border-collapse: collapse;
  color: #505050;
}

.truck_details td {
  border: 1px solid #cecece;
  padding: 10px;
}

.truck_details tr:nth-child(even) {
  background-color: rgb(252, 252, 252);
}

.truck_details tr:nth-child(odd) {
  background-color: #f4f5f5;
}

.truck_details td:nth-child(even) {
  width: 40%
}

.links {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  padding: 16px 0;
}

.download {
  display: block;
  background: url(../assets/pdf.png) no-repeat left center;
  background-size: contain;
  padding-left: 35px;
  line-height: 32px;
  color: #ca741d;
}

.request_btn {
  font-weight: 500;
  background-color: #ff962d;
  padding: 4px 14px;
  border-radius: 25px;
  color: white;
  transition: background-color 0.2s;
}

@media (max-width: 767px) {
  .truck_preview,
  .links {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
  }

  .truck_img,
  .truck_details {
    width: 90%;
  }

  .truck_img img,
  .truck_details table {
    width: 100%;
  }

  .truck_details table {
    font-size: 0.8rem;
  }

  .request_btn,
  .download {
    font-size: 1.1rem;
  }

  .links {
    margin-top: 10px;
  }
}